.footer {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(234, 234, 234);
  text-align: center;
}

.footer-content {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: center;
}

.hr {
  width: 80px;
  border-color: rgb(99, 99, 197);
  margin-bottom: 30px;
}

.h3 {
  margin-top: 100px;
  text-align: center;
}

.employe,
.pwa,
.insta {
  text-align: center;
  flex: 1;
  padding: 0 20px;
  box-sizing: border-box;
}

.hrContainer {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}