/* Head.module.css */

/* クリックされた時のスタイル */
.title:active h1 {
  opacity: 0.5; /* 透明度を半分に設定 */
}

.inlineBlock {
  display: inline-block;
  margin: 20px 0 0 50px;
  font-family: serif;
  font-weight: bold;
}

.header {
  color: rgb(0, 0, 0);
  padding: 20px;
  display: flex; /* コンテンツを横並びに配置 */
  justify-content: space-between; /* コンテンツを両端に配置 */
  align-items: center; /* コンテンツを垂直方向に中央揃え */
}

.header h1 {
  margin: 0;
  font-size: 2em; /* h1のサイズを大きくする */
}

.header nav ul {
  list-style-type: none;
  padding: 0;
  display: flex; /* ナビゲーション項目を横並びに配置 */
}

.header nav ul li {
  margin-right: 2px;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
}

.socialMediaIcons {
  display: flex; /* アイコンを横並びに配置 */
  gap: 10px; /* アイコン間の間隔を設定 */
}

.socialMediaIcons img {
  width: 24px; /* アイコンサイズを設定 */
  height: 24px;
}

.imageContainerWrapper {
  display: flex; /* imageContainerを横並びに配置 */
  justify-content: center;
  gap: 10px; /* コンテナ間の間隔を設定 */
}

.imageContainer {
  text-align: center; /* テキストを中央揃え */
  margin: 0 70px; /* 左右の余白を減らす */
}

.imageContainer div {
  margin-top: 10px; /* 上部の余白を追加 */
}

.imageContainer img {
  max-width: 40px; /* 画像の最大幅を設定 */
  height: auto; /* アスペクト比を維持しながら高さを自動調整 */
}

.imageContainer p {
  margin: 5px 0 0; /* テキストのマージンを設定 */
  font-size: small;
  font-family: serif;
  font-weight: bold;
}

.twitterIcon {
  font-size: 35px;
}

.instagramIcon {
  font-size: 30px;
}

.tiktokIcon {
  font-size: 25px;
}

/* スマホ画面用のスタイル */
@media (max-width: 768px) {
  .inlineBlock {
    margin: 0px 0 0 20px;
  }
 
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header h1 {
    font-size: 2.5em; /* スマホ画面用にh1のサイズを調整 */
  }

  .socialMediaIcons {
    margin-top: 0;
    gap: 5px;
  }

  .imageContainerWrapper {
    flex-direction: row; /* 横並びに配置 */
    justify-content: space-around;
    flex-wrap: wrap; /* アイテムが多い場合に折り返す */
  }

  .imageContainer {
    margin: 0 15px; /* スマホ画面用に左右の余白を減らす */
   margin-left: 50px;

  }

  .imageContainer img {
    max-width: 30px; /* スマホ画面用に画像の最大幅を設定 */
  }

  .imageContainer p {
    font-size: x-small;
  }
  .twitterIcon {
    font-size: 20px;
  }
  
  .instagramIcon {
    font-size: 20px;
  }
  
  .tiktokIcon {
    font-size: 20px;
  }
  
}
