.main {
  max-width: 1300px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.blogContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blogItem {
  width: calc(30% - 20px); /* 2つのアイテムが1行に並ぶように幅を50%に設定 */
  margin: 0 5px 20px 5px; /* 左右の余白を5pxに設定 */
  background-color: #ffffff;
  overflow: hidden;
  box-sizing: border-box;
  margin-top: 50px;
  padding-top: 30px;
}


.blogItem img {
  width: 100%;
  height: auto;
}

.title {
  padding: 10px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #565656;
  font-size: 20px;
  margin: 20px;
}
@media (max-width: 768px) {
  .blogItem {
    width: calc(100% - 60px); /* スマホ画面では1列に1つのアイテムが表示されるように設定 */
    margin: 10px auto; /* アイテムの中央揃えと上下の余白を設定 */
  }
}